<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="catalog_product_save_after">
		<observer name="turiac_skuchange_catalog_product_save_after" instance="Turiac\SkuChange\Observer\Catalog\ProductSaveAfter"/>
	</event>
	<event name="cataloginventory_stock_item_save_after">
		<observer name="turiac_skuchange_stock_item_save" instance="Turiac\SkuChange\Observer\Stock\StockItemSaveAfter" />
	</event>
</config>
